[2017-04-25 13:41] 0x00b1 opened #1 "ObjectDetection generator"
keras-rcnn should include an ObjectDetection generator like Keras’s [ImageDataGenerator](https://keras.io/preprocessing/image/#imagedatagenerator).

[2017-04-25 13:42] 0x00b1 opened #2 "Mask R-CNN"
keras-rcnn should include an implementation of [Mask R-CNN](https://arxiv.org/abs/1703.06870).

[2017-04-25 13:43] 0x00b1 opened #3 "InstanceSegmentation generator"
keras-rcnn should include an InstanceSegmentation generator like Keras’s [ImageDataGenerator](https://keras.io/preprocessing/image/#imagedatagenerator).

[2017-05-30 13:53] 0x00b1 opened #4 "R-CNN classification loss"

[2017-05-30 13:53] 0x00b1 opened #5 "R-CNN regression loss"

[2017-05-30 13:54] 0x00b1 opened #6 "Mean average precision (mAP) metric"

[2017-05-30 13:56] 0x00b1 opened #7 "Region proposal network (RPN) layer"
The region proposal network (RPN) should take two inputs, image features (i.e. features extracted by ResNet) and ground truth bounding boxes and produce object proposals and corresponding “objectness” scores. I’m envisioning something like:

[code]

[2017-05-30 13:59] 0x00b1 opened #8 "Anchor layer"
It should produce anchors from ground truth bounding boxes.

This is the first of two layers needed by the regional proposal network (RPN) layers.

[2017-05-30 14:00] 0x00b1 opened #9 "PASCAL dataset"

[2017-05-30 14:00] 0x00b1 opened #10 "COCO dataset"

[2017-05-30 14:01] 0x00b1 opened #11 "Region proposal network (RPN) classification loss"
It’s implanted here:

https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/losses/proposals.py#L4-L16

but it needs documentation and unit tests.

[2017-05-30 14:01] 0x00b1 opened #12 "Region proposal network (RPN) regression loss"
It’s implanted here:

https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/losses/proposals.py#L19-L38

but it needs documentation and unit tests.

[2017-05-30 14:15] 0x00b1 commented on #7
Here’re a few links with information about implementing layers with multiple inputs:

https://github.com/fchollet/keras/issues/148
https://github.com/fchollet/keras/issues/2364
https://github.com/fchollet/keras/issues/3037

[2017-05-30 14:18] 0x00b1 commented on #7
This issue has information about implementing a loss function for an intermediate layer.

https://github.com/fchollet/keras/issues/5563

[2017-06-01 21:04] jhung0 commented on #6
[code]

[2017-06-02 13:39] 0x00b1 opened #14 "Malaria dataset"

[2017-06-02 14:06] JihongJu commented on #2
To implement Mask R-CNN we might need four components:

__Mask branch__: Additional head extending the previous faster R-CNN branches (class and bbox)

__RoIAlign Layer__: Performs bilinear interpolation whiling pooling instead of

__Mask Loss__: Performs pixel-to-pixel binary cross entropy loss for the predicted mask and the target mask.

__Mask label generator__: Yields the corresponding target

[2017-06-02 14:40] 0x00b1 commented on #2
I agree. Thankfully, it should be straightforward. I haven’t looked their pooling implementation, but I don’t remember the details in the paper being particularly tricky. Would you be interested in creating new issues for the items you enumerated? If not, I can do it.

[2017-06-02 14:42] 0x00b1 commented on #6
@jhung0 You’e really close. Two comments:

- Use `keras.backend.mean` rather than `tensorflow.reduce_mean`
- We need to implement a custom average precision function because `tensorflow.metrics.sparse_average_precision_at_k` expects to be updated in training (i.e. it’s incompatible with Keras’s per-batch metrics)

[2017-06-02 14:43] 0x00b1 commented on #6
And send a PR! It’ll be easier to discuss. 😎

[2017-06-02 15:26] JihongJu commented on #7
Why would the RPN need the ground truth as input? As far as I understand, RPN takes the Conv features as the input and predicts labels and bounding box transforms for K anchors in each cell. I guess what you mean here is something like a [AnchorTargetLayer] (https://github.com/rbgirshick/py-faster-rcnn/blob/master/lib/rpn/anchor_target_layer.py) which produces anchor classification labels and bbox

[2017-06-02 15:30] 0x00b1 commented on #7
Yeah, exactly. I imagined a layer that’d encapsulate AnchorLayer, AnchorTargetLayer, and ProposalLayer into one layer to circumvent the awkward train-and-predict step in Ross’ implementation. Unfortunately, it’s still unclear how this should be implemented. That’s why I’ve been implementing the Anchor and Proposal layers in parallel. What do you think?

[2017-06-02 15:31] 0x00b1 commented on #6
My simple NumPy implementation:

[code]

Does that look right?

[2017-06-02 17:13] JihongJu commented on #7
I do think it's a good idea to make the train-to-predict switch easier. But I'm not sure whether encapsulating the Proposal Layer and the Anchor Target Layer into one is the way to go. It seems feeding the ground truth as inputs, instead of labels, to the model could be problematic during testing. I can hardly imagine what to fed as `b` during test time.

How about keeping the anchor ground truth

[2017-06-02 19:13] JihongJu opened #16 "RoIAlign Layer"
Pooling layer proposed in [Mask R-CNN](https://arxiv.org/pdf/1703.06870.pdf)

[2017-06-02 19:15] JihongJu opened #17 "Mask Loss"
Loss function for the mask branch of  [Mask R-CNN](https://arxiv.org/pdf/1703.06870.pdf)

[2017-06-02 19:23] JihongJu opened #18 "MaskTargetLayer"
Produce Mask targets for the mask branch.

[2017-06-04 23:23] JihongJu opened #20 "Pep8 and Codecov"
@0x00b1 Would you be keen to add codecov and pep8 check to standardize the contribution at some point?

[2017-06-05 00:01] 0x00b1 commented on #20
Yeah! I really like both packages.

[2017-06-05 00:22] #5 closed

[2017-06-05 00:22] #4 closed

[2017-06-05 15:49] jhung0 commented on #6
No, that wouldn't calculate it correctly. Here's a numpy implementation
https://github.com/benhamner/Metrics/blob/master/Python/ml_metrics/average_precision.py

On Fri, Jun 2, 2017 at 11:31 AM, Allen Goodman <notifications@github.com>
wrote:

[2017-06-05 18:21] jhung0 commented on #6
my numpy implementation
[code]

[2017-06-05 21:24] JihongJu commented on #7
@0x00b1 I am thinking of structure it as:
[code]
And we have
[code]
What do you think?

[2017-06-06 14:37] 0x00b1 opened #23 "`crop_and_resize` backend function"

[2017-06-06 14:37] #20 closed

[2017-06-06 17:46] 0x00b1 commented on #7
@JihongJu I love this! Especially this:

[code]

[2017-06-08 18:54] #11 closed

[2017-06-08 18:54] #12 closed

[2017-06-08 18:56] 0x00b1 commented on #7
@JihongJu I started structuring this into code:

[code]

[2017-06-08 20:32] jhung0 commented on #7
I started working on the loss function:

https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/losses/rpn.py

https://github.com/broadinstitute/keras-rcnn/blob/master/tests/losses/test_rpn.py

[2017-06-08 21:15] JihongJu commented on #7
@0x00b1 Cool. Maybe a typo here
[code]

[2017-06-08 21:32] #16 closed

[2017-06-08 21:32] #14 closed

[2017-06-08 21:51] jhung0 commented on #7
I think that y_true and y_pred should be the same shape. Right now in the tests,     classification has
[code]

[2017-06-08 22:08] jhung0 commented on #7
[code]

[2017-06-08 22:30] jhung0 commented on #7
https://github.com/mitmul/chainer-faster-rcnn/blob/v2/models/region_proposal_network.py
has output space anchors*2 for classification and anchors*4 for regression.

[2017-06-08 23:31] jhung0 commented on #7
my edits:
[code]

[2017-06-08 23:49] jhung0 commented on #7
And encode would be https://github.com/rbgirshick/py-faster-rcnn/blob/master/lib/rpn/anchor_target_layer.py#L65 ?

[2017-06-08 23:49] JihongJu commented on #7
@jhung0 To answer you question about the `y_true` shape, the first `anchors` values indicate if the anchor is taken into account (1) or not (0). I think this implementation originally came from keras-frcnn, which I think is quite ugly. You could refer to the Anchor Layer for how the anchor target is generated for us.

[2017-06-08 23:50] JihongJu commented on #7
@jhung0 Yes, indeed. and we already have some works done by @0x00b1 [Anchor](https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/layers/object_detection/_anchor.py)

[2017-06-09 00:06] JihongJu commented on #7
@0x00b1 And we missed a pooling layer before the R-CNN C layers since ROI output fixed-size feature maps

[code]

[2017-06-09 00:08] jhung0 commented on #7
@JihongJu I don't think we need that weird `y_true` shape...? The losses seem to just depend on the values with the anchor taken into account like in https://github.com/rbgirshick/py-faster-rcnn/blob/master/models/pascal_voc/VGG16/faster_rcnn_end2end/train.prototxt#L465

[2017-06-09 00:11] JihongJu commented on #7
@jhung0 For rpn_cls_score, I think what matters is whether we want to use the softmax loss or the logistic loss. Because rpn will have only one possible class, I don't see a particular reason why we should use softmax loss. What do you think @0x00b1

[2017-06-09 00:13] JihongJu commented on #7
@jhung0 I agree with you. It should be as simple as (anchors, 1). But we will have 0, 1 and -1 in it. Probably we need a loss can ignore -1s in y_true.

[2017-06-09 13:33] 0x00b1 commented on #7
Nice catch. Updated my earlier comment! 😎

[2017-06-09 13:36] 0x00b1 commented on #7
Totally. We shouldn’t use softmax.

[2017-06-09 13:39] 0x00b1 commented on #7
@jhung0 Yeah, I dislike the keras-frcnn implementation too. The Anchor layer should have more or loss everything you need.

[2017-06-09 17:53] 0x00b1 commented on #23
TensorFlow implementation:

https://www.tensorflow.org/versions/r0.11/api_docs/python/image/cropping#crop_and_resize

[2017-06-09 22:17] JihongJu commented on #7
@0x00b1 Another thing we missed here is these four layers
[code]
should be applied per proposal. We will need the TimeDistributed layer from keras for this purpose.

[2017-06-09 22:58] JihongJu commented on #7
@0x00b1 I modified the code above for the ResNet and added to broadinstitute/keras-rcnn #27.

[2017-06-09 23:13] JihongJu opened #28 "R-CNN API design"
I think it is the time to think about how the R-CNN API should look like. We have discussed it a bit in broadinstitute/keras-rcnn#7, but there it is more about the structure than the API.

From my understanding, a R-CNN framework should include a body, that predicts ROIs from images, and a couple of heads, that predicts scores, bounding boxes (and masks).

The idea is to easily attach different bo

[2017-06-09 23:17] JihongJu opened #29 "test_malaria takes too long"
Maybe we could mock the downloading procedure?

[2017-06-10 04:36] jhung0 opened #30 "gt Overlapping indices"
Why is this line necessary/what is it for? Isn't gt_argmax_overlaps_inds defined before this line?
https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/layers/object_detection/_anchor.py#L237

[2017-06-10 21:37] 0x00b1 commented on #28
Elegant? No. 😆

My initial thinking was similar to your description. I imagined a few subclasses of Keras’s model class, e.g. an RPN model, an RCNN model, and a MaskRCNN model.

However, I think there’d be some benefit of something more modular. @mcquin has been thinking about this problem. I’d love to hear her thoughts. I’ve also considered reaching out to @KaimingHe, @rbgirshick, @pdollar, etc.

[2017-06-10 21:41] 0x00b1 commented on #29
@JihongJu I agree. It’ll also save us some money. Especially when providing COCO and VOC (I’m working on a VOC dataset this weekend).

[2017-06-11 07:24] JihongJu commented on #28
@0x00b1 Unfortunately, I am not attending CVPR this year. A Skype call would work the best for me because I am now located in Europe.

I totally agree with the components mix-and-match pattern. That is also what I have in mind.

[2017-06-11 08:04] JihongJu commented on #30
@jhung0
[code]

And I think if 2. is the expected return,
``python
gt_argmax_overlaps_inds = numpy.sort(gt_argmax_overlaps_inds)
[code]

[2017-06-11 20:24] jhung0 commented on #29
@JihongJu what do you mean by mock the downloading procedure?

[2017-06-11 21:07] JihongJu commented on #29
So if you have operations that you don't want them to be executed during unit testing, you can "mock" these operations so that they will be replaced by "fake" ones. You can find a better summary of "mocking" [here](https://stackoverflow.com/questions/2665812/what-is-mocking), and a library for Python [here](https://docs.python.org/3/library/unittest.mock.html).

[2017-06-13 17:27] jhung0 opened #31 "Shape of y_pred and y_true"
Why is the shape of y_pred and y_true (a, b, c, d) (e.g. see https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/losses/rpn.py#L57)?
I think it'd make more sense to have shape (m, n). https://github.com/mitmul/chainer-faster-rcnn also supports that.

[2017-06-13 17:27] #31 closed

[2017-06-13 17:27] jhung0 opened #32 "return scores in objectproposal"
Instead of returning just proposals, return scores as well https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/backend/tensorflow_backend.py#L86

[2017-06-13 19:09] JihongJu commented on #32
What do we need the score for? Isn't the ROIs enough?

[2017-06-13 19:24] jhung0 commented on #32
We don't use it, but it's possible they could be useful

[2017-06-13 20:36] JihongJu commented on #32
I'd say it is definitely very helpful to rank the object proposals by the score. And I can also imagine something like filtering the proposals by ranking or by thresholding. But I am not sure we should go for returning proposals with scores since the scores will be thrown away in the ROI layer anyway.

[2017-06-14 12:23] #32 closed

[2017-06-24 00:28] akshaylamba opened #36 "where is the starting point"
How do start training on the malaria data...

If Somebody can Help...

I Did Run Setup.py but could not Figure out...

I am Finding it Difficult to start as there is no README...pls help regarding training on malaria data ...

[2017-06-24 09:11] MohmadAyman commented on #2
+1
and I would like to help implementing it.

[2017-06-26 17:10] 0x00b1 commented on #36
Hi, @akshaylamba!

keras-rcnn is still a work-in-progress. I wouldn’t recommend experimenting with the package for a few weeks unless you’d like to contribute! If you’re interested in contributing, I recommend starting with the aforementioned malaria dataset and the ObjectDetection generator:

[code]

[2017-06-26 17:10] #36 closed

[2017-06-26 17:41] 0x00b1 commented on #2
Hi, @MohmadAyman! We’d love your help.

- We still need to write the Mask RCNN model. It should be straightforward and is likely the easiest item to contribute if you’re unfamiliar with the package. I recommend looking at the RCNN implementation (keras_rcnn.models) from the most recent PR from @JihongJu for inspiration:

https://github.com/broadinstitute/keras-rcnn/pull/27/files

- We’ve updated k

[2017-06-26 17:47] #9 closed

[2017-06-26 17:49] 0x00b1 commented on #3
The ImageSegmentationGenerator should be an easier task.

The dictionary should look similar to the existing ObjectDetectionGenerator dictionary except each box includes a `mask` key that has the mask pathname, e.g.

[code]

It should yield masks (in addition to an image, bounding boxes, and labels), e.g.

[code]

[2017-06-26 17:52] #1 closed

[2017-06-26 17:53] 0x00b1 commented on #8
We’ve decided to replace the Anchor layer by generating anchors inside the RPN loss function.

cc: @JihongJu and @jhung0

[2017-06-26 17:53] #8 closed

[2017-06-29 12:12] MohmadAyman commented on #2
so if I to start with the easiest, the ImageSegmentationGenerator, would it be the same like the `_object_detection.py` in the preprocessing folder, and would replace the `anchor` function with another one with the difference that for every `bbox` that is returned we would return also the `mask`, right?
e.g.
[code]

[2017-06-29 18:39] 0x00b1 commented on #2
Hi, @MohmadAyman! Because we’re moving the anchor generator into the loss function, you don’t need to worry about the anchors. The generator just needs to yield an image, a list of bounding boxes for that image, a list of (instance) masks for that image, and corresponding labels.

[2017-07-03 00:16] edgarmedina1801 commented on #7
Good night to everyone.
I don't have the honor of being a contributor here and I'm not an expertise in keras programming, but I would like to suggest an idea about RPN "layer".

I saw into the file called "keras_rcnn/models.py" that the RPN was instantiated as a MODEL and not as a layer, as the original idea here in this amazing group. I know RPN is based on CNN, but I think RPN would be better if

[2017-07-04 10:03] MohmadAyman commented on #2
Hi @0x00b1, for testing, which dataset that have the mask annotations  would we use?

[2017-07-05 22:53] jhung0 commented on #2
Probably MS COCO

On Tue, Jul 4, 2017 at 6:03 AM, Mohmmad Ayman <notifications@github.com>
wrote:

[2017-07-10 22:05] yhenon opened #42 "Use of TimeDistributed(BatchNormalization())"
I believe there is an issue with using `TimeDistributed(BatchNormalization())` in keras, as is done in `keras-rcnn/keras_rcnn/classifiers/resnet.py` (although I may be mistaken).As I understand, this leads to the moving mean and variance not being updated.

A small example:
[code]

And the output of the `print()` statement is:
[code]
Note that the `[0, 0, 0]` and `[1, 1, 1]` are the default, non-u

[2017-07-10 23:11] 0x00b1 commented on #42
Hi, @yhenon! I appreciate the comment and the explanation (I was puzzled by your custom BatchNormalization implementation)! I’ll take a look. The BatchNormalization(axis=bn_axis+1) sounds like the better way to go!

I’m curious, would you be interested in helping out? Your package was certainly an inspiration!

[2017-07-10 23:29] JihongJu commented on #42
I was not awared of this problem. Thank you for pointing out this issue. As far as I understood, the TimeDistributed layer should apply to a tensor of shape without the time dimension. If this is not the case for BatchNormalization, it might be an issue for keras as well because that would inconsistent with the other layers. I will look into it.

[2017-07-11 09:08] JihongJu commented on #42
Hi @yhenon ,

I've tried the TimeDistributed BatchNormalization with the following sample:
[code]
And the results were:
[code]
This seems to match what we desired from the BatchNormalization. It returns normalized activations per batch and the normalization was applied independently to all the data streams.

[2017-07-11 15:18] yhenon commented on #42
@JihongJu After looking over your code, I still think my issue stands (though I may be missing something). To clarify my point a bit:
- `TimeDistributed(BatchNorm())` seems to work fine at training time (as you point out), as it normalizes using the statistics of the mini-batch
-  `TimeDistributed(BatchNorm())` does not work fine at test time, as it normalizes using statistics computed on the trai

[2017-07-11 15:32] yhenon commented on #42
@0x00b1 Hi!
To be clear, in my implementation, I was just implementing what the paper said:

This also provided a way of dealing with the above issue, so I left it.

I would certainly be interested in helping - my original implementation is rather limited in scope and full of hacks, amd a better quality keras frcnn would be desirable.

[2017-07-11 17:21] JihongJu commented on #42
@yhenon Hmm, now I get the point. In that case, I agree with you, adding a flat BN, instead of a time distributed BN, to the 5D tensor seems fine.

[2017-07-12 12:53] #30 closed

[2017-07-19 09:43] JihongJu opened #45 "Feature Pyramid Networks"
FPN highlights the importance of leveraging the multi-scale feature hierarchy for object detection.

More details see the paper: [Feature Pyramid Networks for Object Detection](http://openaccess.thecvf.com/content_cvpr_2017/papers/Lin_Feature_Pyramid_Networks_CVPR_2017_paper.pdf)

[2017-07-19 16:56] jhung0 commented on #45
Yes, definitely want to implement this! We'll see the authors at cvpr in a
few days if you want us to ask any questions.

On Jul 19, 2017 2:43 AM, "JihongJu" <notifications@github.com> wrote:

[2017-07-24 16:03] yanfengliu opened #47 "Intersection over Union (IoU) algorithm"
I think `IoU` is supposed to be like this:
![iou_equation](https://user-images.githubusercontent.com/11828748/28532441-64d0137c-705f-11e7-8c0a-4bd6e31600e4.png)

But based on the code in this library, the definition of `union` is currently implemented as the rectangle defined by the top left corner of the first box and the bottom right corner of the second box, which is bigger than the true union.

[2017-07-24 16:11] hgaiser commented on #47
Nice catch, looks like you're correct. Interestingly in https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/backend/tensorflow_backend.py#L138-L151 it seems to be properly implemented using tensorflow functions. Will you make a PR to fix this?

[2017-07-24 18:40] yanfengliu commented on #47
@hgaiser Yeah I can do that

[2017-07-25 13:31] hgaiser commented on #42
Can I abuse this issue to ask why `TimeDistributed` layers are necessary? Is it to perform computation per ROI (meaning the term 'time distributed' is a bit poorly chosen here)? I noticed in `py-faster-rcnn` that they are limited to single batch training only, presumably because Caffe blobs are limited to 4d. If you have `batch_size > 1` and ROIs, your blob would need 5 dimensions (batch_id, roi_i

[2017-07-25 19:46] yanfengliu opened #49 "Alternating training"
I only saw this library last week and I am not sure how complete it is. I was wondering if the alternating training technique mentioned in the paper (`RPN`-`FastRCNN`-`RPN`-`FastRCNN`-...) was implemented but I couldn't find the code for it here. Let's say I built a model successfully with `keras-rcnn`, now what should I do to train it? Should I just use `model.fit()`?

[2017-07-25 19:58] hgaiser commented on #49
As of the moment of writing, there are some parts missing in this repo, which means training is not yet possible. I'm not sure if alternating training is possible at the moment, but it shouldn't be that hard to make it given this repo (when it's finished). May I ask why you seek the alternating training scheme though? I found that I get more or less equal results with end2end and it is much faster

[2017-07-25 20:14] yanfengliu commented on #49
@hgaiser Thank you for your answer! I don't have a specific reason. It's just that the original paper used the alternating technique. If you found that end2end has similar performance then I would be happy to use that as well. May I ask which parts are missing (that you know of)? I would like to contribute to the best of my ability.

[2017-07-25 20:15] hgaiser commented on #49
I believe mainly the RPN / losses needs work (https://github.com/broadinstitute/keras-rcnn/pull/41) and in general there are probably a few bugs that need to be resolved.

[2017-07-25 21:23] JihongJu commented on #49
@yanfengliu Beside the RPN/losses issue, there are some more issues with a _help-wanted_ tag and you can have a look at them. You can ask either of us for more information if the issue itself is not clear enough.

[2017-07-25 23:12] jhung0 commented on #47
Thanks for catching that!

On Jul 24, 2017 8:41 AM, "Yanfeng Liu" <notifications@github.com> wrote:

@hgaiser <https://github.com/hgaiser> Yeah I can do that

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/broadinstitute/keras-rcnn/issues/47#issuecomment-317516340>,
or mute the thread
<https://github.com/notif

[2017-07-25 23:19] jhung0 commented on #49
@yanfengliu <https://github.com/yanfengliu>  we just focus on end2end
rather than alternative training because, as Hans mentioned, it's easier to
train and pretty much gets the same results. The paper does alternative
training, but if you look at the py-faster-rcnn repo, they talk about using
end2end and show how it compares to alternative.

On Jul 25, 2017 11:24 AM, "JihongJu" <notifications@gith

[2017-07-26 01:28] #49 closed

[2017-07-26 11:44] JihongJu commented on #45
@jhung0 Ha, thank you for asking. I don't think I have any questions in particular for them atm. Enjoy! ;D

[2017-07-26 11:45] hgaiser commented on #45
Bit late too @JihongJu  :p

[2017-07-27 01:38] 0x00b1 commented on #42
@JihongJu I played with this too. I think @yhenon is correct. And I believe the suggestion by @yhenon will work (i.e. `BatchNormalization(axis=bn_axis + 1)`).

@yhenon Want to send a PR? 😄

[2017-07-27 01:42] 0x00b1 commented on #42
Yep. Your instincts are right. It’s a super clever hack by @yhenon to exploit the TimeDistributed wrapper’s batching to iterate across a variable number of regions. And, I agree, TimeDistributed is a bad name. I think Distributed (or Batched) would make more sense. (cc: @fchollet)

[2017-07-27 01:44] 0x00b1 commented on #42
Hrm. Why do you think it should be updated during test (i.e. inference or prediction)?

[2017-07-27 01:50] #47 closed

[2017-07-27 06:45] hgaiser commented on #42
I'm not sure, but it sounds like the moving average / variation is depending on your current data, not on the data you trained on. I will read more today on BatchNormalization to see how it should be.

[2017-07-29 01:01] waleedka commented on #42
I pushed PR to fix this issue here https://github.com/fchollet/keras/pull/7467. I believe it's a more generic solution than the bn_axis+1 solution, and fixes the root problem in the TimeDistributed layer.

[2017-08-04 15:31] yhenon commented on #42
Thanks to @waleedka for making that PR which has now been merged!
Re-running the above snippet with a freshly checked out keras install gives:
[code]
Which is the desired output. This should keep the API a bit simpler, since `TimeDistributed()` can now be applied to all layers in the final stage classifier. It means people will need to update their keras version to the latest, but that's ok.

[2017-08-04 15:31] #42 closed

[2017-08-04 15:47] 0x00b1 commented on #42
Awesome! Thanks for the update, @yhenon and thanks for the work @waleedka!

@waleedka please feel free to add yourself to the CONTRIBUTORS file!

[2017-08-09 09:27] jiahuei commented on #6
It can be done by just using TF's own function, `tf.metrics.sparse_average_precision_at_k`.

Assuming `y_true` is a tensor of shape `(batch_size, num_labels)`, and `y_pred` is of shape `(batch_size, num_classes)`:

`_, m_ap = tf.metrics.sparse_average_precision_at_k(y_true, y_pred, k)`

For example:

[code]
`tf_map` will have the correct value of `0.3611`.

[2017-08-18 13:52] HuangBo-Terraloupe commented on #2
Did someone has already created a repository for Mask RCNN, so we all can contribute on it?
Really need a repository of keras!

[2017-08-18 15:05] jhung0 opened #72 "contributor.rst"
Make a contributor.rst including info on how to contribute, what's expected, etc.

[2017-08-18 15:06] jhung0 opened #73 "set up travis lint for every commit"
Travis lint should run on every commit

[2017-08-18 15:06] jhung0 opened #74 "Update readme"
Update readme on current status of the project

[2017-08-18 15:07] jhung0 opened #75 "Get tests passing on master"

[2017-08-18 15:07] jhung0 opened #76 "Documentation"
Document all functions, classes, modules

[2017-08-18 15:08] jhung0 opened #77 "Implement theano, cntk backend functions"

[2017-08-18 15:08] jhung0 opened #78 "Add mask branch to residual classifier"

[2017-08-18 15:08] jhung0 opened #79 "Dictionary schema for datasets"
Make a standard dictionary schema for all datasets and make sure existing ones (malaria, pascal) adhere.

[2017-08-18 15:09] jhung0 opened #80 "COCO dataset"

[2017-08-18 15:09] jhung0 opened #81 "Reimplement rpn, rcnn models"

[2017-08-18 15:09] jhung0 opened #82 "Object generator should return a scale and scale boxes with images"

[2017-08-18 15:11] jhung0 opened #83 "Implement per batch mean average precision"
For monitoring purposes, we should have independent, per batch mean average precision numbers.

[2017-08-18 15:12] jhung0 opened #84 "Add tests to everything"
Make sure there are tests for everything, including models, pascal, theano/cntk backend.
Also, use keras’ test layer functionality.

[2017-08-18 15:12] jhung0 opened #85 "Get 100% code coverage"

[2017-08-18 15:13] jhung0 opened #86 "Shape inference"
Allow network to infer shapes and run without specifying image dimensions.
(Note: pascal has this issue but malaria does not)

[2017-08-18 15:19] jhung0 opened #87 "Check bounding boxes correctness"
If any bounding box coordinates are outside the image (less than 0 or more than image size) or the order of the coordinates is wrong, the loss might become nan. Check that all coordinates are within image after scaling and that all x_max > x_min and y_max > y_min.

[2017-08-18 15:25] jhung0 opened #88 "Add inside and outside bounding box weights"
As in https://github.com/rbgirshick/py-faster-rcnn/blob/master/lib/fast_rcnn/config.py#L120 and used in https://github.com/rbgirshick/py-faster-rcnn/blob/master/lib/rpn/proposal_target_layer.py#L64 and regression losses.

[2017-08-18 15:31] 0x00b1 commented on #2
Hi, @HuangBo-Terraloupe! We were missing a few pieces. https://github.com/broadinstitute/keras-rcnn/issues/2#issuecomment-311130295

If you're interested in contributing, let me know and I can help steer you in the right direction. 👍

[2017-08-18 15:42] hgaiser commented on #82
This is actually addressed in https://github.com/broadinstitute/keras-rcnn/pull/71

[2017-08-18 15:44] hgaiser commented on #88
I never really checked what these weights do, can you explain them to me ?

[2017-08-18 16:00] 0x00b1 commented on #82
@hgaiser Yep! 👍  (I just reviewed. @hgaiser, feel free to review too!)

[2017-08-18 17:40] 0x00b1 commented on #86
I didn’t think malaria had this issue, but it does. `test` has different dimensions than `training`.

[2017-08-18 17:42] 0x00b1 opened #89 "Cityscapes dataset"

[2017-08-18 19:15] MohmadAyman commented on #2
Sorry I couldn't continue working on it.
The COCO data set download speed is too low it would take more than 4 days for me to download it,
if anyone know a place other than the official download site or a torrent link that would help.

[2017-08-18 23:46] jhung0 commented on #88
Inside weights seem to be for specifying anchors or rois with positive label (as opposed to 0 or -1). In the config, it seems outside weights are sample weighting (separate for RPN and RCNN).

Give the positive RPN examples weight of p * 1 / {num positives} and give negatives a weight of (1 - p). Set __C.TRAIN.RPN_POSITIVE_WEIGHT = -1.0 to use uniform example weighting. (This is used for outside w

[2017-08-19 01:14] jhung0 commented on #79
COCO is too complicated.

We want to be able to include bounding boxes and/or masks (segmentations). Also, we want the structure to be flexible to additional data like metadata, class hierarchies or multilabel, difficult classes.

[2017-08-19 01:47] #28 closed

[2017-08-19 01:48] #7 closed

[2017-08-19 01:49] jhung0 commented on #80
duplicate of #10

[2017-08-19 01:49] #80 closed

[2017-08-21 09:52] HuangBo-Terraloupe commented on #2
@0x00b1
I am happy to help, please tell me where we are now, as Jihong Ju mentioned there are 4 steps we need to do. And I have already run the training of Faster-rcnn in keras and Mask Rcnn in tensorflow, the code are available.
I really want to have the implementation of mask rcnn in keras.
Maybe I can start with implement the generator.

[2017-08-21 17:15] jhung0 commented on #79
For the option of class hierarchies, maybe let people include tree information

[2017-08-21 17:56] 0x00b1 commented on #79
Here’s my current thinking:

[code]

[2017-08-21 17:57] 0x00b1 commented on #79
I like this too:

[code]

[2017-08-22 12:30] HuangBo-Terraloupe commented on #2
I want to start with Generator, can someone help me instructions?
And for the roi layer in pooling.py, is the layer already ROIAlign? How can I test it?

[2017-08-22 14:57] MohmadAyman commented on #2
"Hi, @MohmadAyman! Because we’re moving the anchor generator into the loss function, you don’t need to worry about the anchors. The generator just needs to yield an image, a list of bounding boxes for that image, a list of (instance) masks for that image, and corresponding labels."
here is the generator that I've started working on  [_image_seg_generator.py](https://gist.github.com/MohmadAyman/f38

[2017-08-23 17:24] jhung0 opened #95 "TypeError when computing RPN loss"
Starting from 0e28c4c1f89023e880fcba8c6625a1ae14867529 , there's a type error in the rpn loss.
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-6-93fc0101901f> in <module>()
      7
      8 deltas = keras_rcnn.layers.losses.RPNRegressionLoss(9)([deltas, bounding_box_targets, rpn_la

[2017-08-23 17:36] jhung0 commented on #95
Due to update in Keras 9164bf6184f26e40fdc561ed776181a9bb692e9d

[2017-08-23 17:38] #95 closed

[2017-09-02 19:25] 0x00b1 opened #107 "Combine the loss layers"
keras-rcnn has two region proposal network (RPN) loss layers (`RPNClassification` and `RPNRegression`) and two region-based convolutional neural network (RCNN) layers (`RCNNClassification` and `RCNNRegression`). I think it makes sense to combine the two RPN layers into one RPN layer and the two RCNN layers into one RCNN layer in an effort to further simplify the keras-rcnn’s public API.

[2017-09-02 19:26] 0x00b1 commented on #83
Duplicate of #6

[2017-09-02 19:27] #83 closed

[2017-09-02 19:27] hgaiser commented on #107
So there'd be one layer computing the RPN loss and one layer to compute the RCNN loss? I like that idea!

[2017-09-02 19:39] 0x00b1 opened #108 "Document use with Apple’s Core ML framework"
Keras-rcnn was written to be compatible with a number of third-party frameworks and services like Apple’s Core ML framework that enables developers to embed Keras models into their iOS applications. We should document how an Apple developer can create, train, and export their model to their Core ML-compatible iOS application.

[2017-10-06 10:19] dmitrysarov opened #111 "anchor() issue"
from keras_rcnn.backend.common import *
import tensorflow as tf
sess = tf.InteractiveSession()
anc = anchor(4,[1,2],[1])

 [ 0.   0.   3.   3. ]
 [ 0.5 -1.   2.5  4. ]
 [ 0.5 -1.   2.5  4. ]]

I suppose that it should return list of two arrays.

[2017-10-10 14:09] jhung0 commented on #86
This should involve handling large images and joining their results together (possibly take the union)

[2017-10-10 14:10] jhung0 opened #112 "config file"
We need a central location where parameters are stored. This can be done through a config dictionary, e.g. config = {max_proposals: 300}

[2017-11-03 14:34] #86 closed

[2017-11-07 14:11] hiteshnitetc opened #125 "TypeError: __int__ returned non-int (type NoneType)"
Hello, On running following code getting some error:
code:
[code]

error:
[code]
How to solve it.

[2017-11-14 13:44] hiteshnitetc commented on #125
Waiting for response

[2017-11-14 22:42] jhung0 commented on #125
Do you have the newest version? I can't replicate

[2017-11-15 04:19] hiteshnitetc commented on #125
ok. I will update and let you know.

On Wed, Nov 15, 2017 at 4:12 AM, Jane Hung <notifications@github.com> wrote:

[2017-11-15 04:21] hiteshnitetc commented on #125
Currently i am using Keras 2.0.6 with anaconda python 3.6

On Wed, Nov 15, 2017 at 9:49 AM, Hitesh Tekchandani (Ph.D. Student ) <
htekchandani.phd2016.etc@nitrr.ac.in> wrote:

[2017-11-28 04:46] Abhijit-2592 opened #131 "disabling back_prop wrt to bounding box coordinates."
In the Google's [paper](https://arxiv.org/pdf/1611.10012.pdf) under section 3.4 it is said that:

This can now be implemented using keras.backend.stop_gradient() I guess. But I am not sure how to implement it any ideas?

[2017-11-30 07:18] Abhijit-2592 opened #132 "Faster-RCNN or Region Based Fully convolutional Network"
This is a silly question. This repository implements Faster RCNN or Region Based Fully Convolutional network?

[2017-12-01 15:36] cells2numbers opened #133 "Ceck if bounding boxes are valid in the data generator / training data"
When the training data contains invalid bounding boxes with ```box["x1"] > box["x2"]``` the loss drops to ```nan```. To solve this a simple check for box["x1"] < box["x2"] and box["y1"] < box["y2"] should be implemented.

[2017-12-07 11:10] mmiisskk opened #136 "How to predict from RPN model?"
Hi,
please, what is the right way to use predict from RPN model when I am loading saved weights and new image to predict?

I try to use your example in '/models/_rpn.py' and after ran 'model.fit_generator' I saved weights using 'model.save_weights()' from keras.
Now I would like to load these saved weights and run 'model.predict' on new image which wasn't in training process - but it give me the e

[2017-12-15 15:52] jrosebr1 opened #140 "Import syntax error with losses/_rpn.py"
I was playing around with keras-rcnn using Ubuntu and Python 3.4. From my Python shell:

<pre>$ python
Python 3.4.3 (default, Nov 17 2016, 01:08:31)
[GCC 4.8.4] on linux
Type "help", "copyright", "credits" or "license" for more information.

Using TensorFlow backend.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/adrian/keras-rcnn/keras_rcnn/models/__init__.

[2017-12-19 19:01] 0x00b1 opened #141 "Keras 2.1.2 support"

[2017-12-19 19:01] 0x00b1 opened #142 "SciPy 1.0.0 support"

[2017-12-20 15:56] #141 closed

[2017-12-20 15:56] #142 closed

[2018-01-02 08:50] b18arundhati commented on #6
Hi!

I have tried out the following keras implementation for the mAP metric. Could you kindly take a look if this seems all right?

`def calculate_mAP(y_true,y_pred):
	num_classes = y_true.shape[1]
	average_precisions = []

	relevant = K.sum(K.round(K.clip(y_true, 0, 1)))
	tp_whole = K.round(K.clip(y_true * y_pred, 0, 1))
	for index in range(600):
		temp = K.sum(tp_whole[:,:index+1],axis=1)
		aver

[2018-01-04 07:22] #132 closed

[2018-01-11 13:28] manhcuogntin4 commented on #2
Is there someone that made the training on your own data set ? Before with Faster RCNN, I can use the labelImg tool to create the annotation file for image but I don't know in case of Mask RCNN, what tool I have to use to make the annotations file ? I have to make the mask image my self for the annotation or Mask RCNN will create it automatically ? Thank !

[2018-01-11 18:17] 0x00b1 opened #148 "InvalidArgumentError when running `keras_rcnn.models.RPN`"
The following code:

[code]

throws the following `InvalidArgumentError` exception:

[code]

[2018-01-11 18:21] 0x00b1 commented on #148
It works if I explicitly disable the learning phase:

[code]

I suppose this confirms that this an issue with the `in_train_phase` logic inside `ProposalTarget`.

[2018-01-11 18:34] 0x00b1 opened #149 "Rename `AnchorTarget` to `Anchor`"
In an effort to further simplify the existing interface and to improve self-documentation I’d like to rename a few layers and backend functions to be clearer. I’d like to rename AnchorTarget to the more concise Anchor. I also want to reinforce that the Anchor layer is used in both forward-and-back propagation.

[2018-01-14 01:48] jhung0 opened #150 "Remove unnecessary reshape"
https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/layers/object_detection/_object_proposal.py#L65

[2018-01-14 20:15] Cre1th opened #151 "Regularization"
Hi, I wanted to ask how you handle regularization. I did not notice any usage of Dropout or other regularization methods. Is it necessary to add these?

[2018-01-16 19:35] jhung0 commented on #136
Yes, the input should be bounding_boxes, labels, image, metadata

[2018-01-16 19:36] jhung0 commented on #140
Hmm not sure if 3.4 works. We use 3.6

[2018-01-16 20:49] jrosebr1 commented on #140
Thanks, I will give that a try.

[2018-01-18 15:45] jhung0 opened #153 "inputs/outputs"
Maybe the input should be image and the outputs boxes and scores? I bring it up because otherwise there's a problem in ProposalTarget with distinguishing validation vs. testing behavior.

[2018-01-25 21:24] shantanukarve opened #156 "can't have a batch_size bigger than 1"
When I try the README  code snippet but adding a batch_size parameter
[code]
I get this TraceBack
[code]

[2018-01-25 23:54] jhung0 commented on #156
yes, it needs to be 1

[2018-01-26 04:32] shantanukarve commented on #156
yes, I figured the fix is going to be complex, its not just a matter of generalizing this line
  boxes = numpy.append(boxes, [[box]], axis=1)
to handle batch-size "properly".  From my short investigation, the hard problem is that different images in a batch can have different number of boxes so its not just a matter of handling a boxes(batch_size, num_of_boxes-for-that-image, 4)  array so need to

[2018-01-26 04:32] #156 closed

[2018-01-26 06:11] ChiaoSun opened #157 "invalid syntax in keras_rcnn\models\_rpn.py line 169"
Hi, I got a SyntaxError: invalid syntax in

keras_rcnn\models\_rpn.py", line 169    name = f"p{index + 2}"

I use anaconda 3 and python 3.5, anyone can help me fix this problem?

[2018-01-26 18:35] milani commented on #140
@jhung0 3.5.3 works fine.

[2018-01-26 19:36] milani opened #158 "Most tests are failed"
I run tests on Ubuntu 17.04, Python 3.5.3, numpy 1.14.0, tensorflow-gpu 1.4.1 (GTX 1070). Here you can find a log of only backend tests:

https://gist.github.com/milani/f90e448388440a3897d9aee1c3023c30

[2018-01-26 20:10] milani commented on #158
keras version: 2.1.3

[2018-01-27 10:15] milani opened #159 "unnecessary type cast?"
What is the reason behind type casting in the following line? As far as I know, no operation in what follows after the line is dependent on the type conversion. I am asking because this line causes the test to fail on my system.

https://github.com/broadinstitute/keras-rcnn/blob/81499d32b18836a6e9583aedbff3c15fa4c19555/tests/backend/test_common.py#L165

[2018-01-27 10:37] milani commented on #158
This is test log for `test_anchor_target.py`.

https://gist.github.com/milani/591a0070409efd5ecbd63afff4f1886a

[2018-01-29 16:44] #159 closed

[2018-01-29 21:29] nawashy opened #161 "Error in running tutorial"
Hi there,

I'm trying to run the tutorial in the Getting started but when I issue the command
(target_bounding_boxes, target_image, target_scores, _), _ = generator.next()
it gives me an error
keras_rcnn/preprocessing/_object_detection.py in _get_batches_of_transformed_samples(self, selection)
     91
     92             while count == 0:
---> 93                 path = self.dictionary[image_index]

[2018-01-30 05:48] chituma110 commented on #157
I have meet the same problem. Have you solved the problem?@ChiaoSun

[2018-01-30 08:57] ChiaoSun commented on #157
Hi @chituma110m , I haven't 100% solved this problem yet.
But I already know this problem caused by the new string format in python 3.6.
Therefore, I replace line 169 with name = "p{0}".format(str(index+2)) which suit on python 3.5.
It looks like solved this error but get another error.
Maybe you can try it.

[2018-01-30 10:43] K-Mike commented on #161
I have the same. I think that we use different version of Keras.

[2018-01-30 10:52] K-Mike commented on #161
Solved. upgrade  to 2.1.3

[2018-01-30 12:53] milani commented on #140
@chituma110 With new commits, It needs at least python 3.6 to run.

[2018-01-30 15:57] 0x00b1 commented on #161
Yeah! I apologize for this. Keras broke API compatibility with 2.1.3 (by introducing that method). We should probably specify the Keras version in our setup.py.

[2018-01-30 15:57] #161 closed

[2018-01-30 18:01] 0x00b1 opened #162 "Move RPN and RCNN losses into `keras_rcnn.losses` module"
The RPN and RCNN layers have methods for their respective losses (each has a classification_loss and a regression_loss). We should refactor the methods into functions and move them into the keras_rcnn.losses module to replicate the Keras interface.

They should also, wherever necessary, be refactored to conform to the conventional Keras loss API:

[code]

In addition, I believe this is a useful st

[2018-01-30 18:11] 0x00b1 commented on #75
Hooray! 🍾

[2018-01-30 18:11] #75 closed

[2018-01-30 18:12] 0x00b1 commented on #74
Hooray! 🍾

[2018-01-30 18:12] #74 closed

[2018-01-30 18:45] nawashy commented on #161
thank

[2018-02-01 07:45] milani commented on #158
I tested again on Ubuntu 17.04, Python 3.6, Keras 2.1.3, Tensorflow-gpu 1.5.0 and tests passed. So I think minimum requirements should be defined in README.

[2018-02-02 15:16] ChristopherAkroyd opened #166 "Feature Pyramid Network should share RPN weights between layers."
## Problem and Details

Within the models/_rpn.py code the Feature Pyramid Network is implemented with a separate RPN for each different pyramid level whereas from the paper on [FPN's](https://arxiv.org/pdf/1612.03144.pdf) we can see from section 4 that their implementation shares weights between all pyramid levels. The justification for this was based on the researchers observing a similar level

[2018-02-03 20:58] patruff commented on #157
I too get this error, using Windows 8, python 3.5

[2018-02-03 23:14] jhung0 commented on #157
We're using python 3.6 ...sorry, never tried on 3.5

[2018-02-05 03:32] zuchongzhi opened #168 "Index Error"
when inspect the trianingdata，this code( ....=generator.next() ） have an  error ： IndexError: index 1 is out of bounds for axis 0 with size 1.

[2018-02-05 15:33] jhung0 commented on #168
what training data?

[2018-02-05 18:58] tomihisaw opened #169 "RPN: InvalidArgumentError: Reduction axis 0 is empty in shape [0,2]"
Hi, I am able to use the R-CNN network without issue, however I run into problems when trying to train the RPN network.

I am using example code from the comments in `_rpn.y` and python 3.6, keras 2.1.3, tensorflow 1.5.0

[code]
The error occurs in _anchor_target.py here:
`gt_argmax_overlaps_inds = keras.backend.argmax(reference, axis=0)`

It seems the issue is with the axis=0 since if I change it

[2018-02-06 03:57] zuchongzhi commented on #168
this is the  code ：

training, validation, test = keras_rcnn.datasets.malaria_phenotypes.load_data()
classes = { "rbc": 1, "leu": 2, "ring": 3, "tro": 4, "sch": 5, "gam": 6}
generator = keras_rcnn.preprocessing.ObjectDetectionGenerator()
generator = generator.flow(training, classes)
(target_bounding_boxes, target_image, target_scores, _), _ = generator.next()

i want to get a training data ，but fi

[2018-02-07 09:53] zzdang opened #171 "the model of rcnn's rpn classification_loss meet an error"
hi,when I use the rcnn model,the code occured an error in rpn classification_loss
	img_in = Input((None, None, 3))
	rcnn_model = RCNN(img_in, 2)
	optimizer = keras.optimizers.Adam(0.0001)
	rcnn_model.compile(optimizer)
the error is:
Traceback (most recent call last):
  File "/home/han/anaconda2/envs/keras_rcnn/lib/python3.6/site-packages/tensorflow/python/framework/common_shapes.py", line 686, in

[2018-02-07 14:54] tomihisaw commented on #169
I figured out the problem. It has to do with the "feature_maps" used by default in the model. The default sizes are larger than the image sizes in the example code. So if you remove the largest size from the features and pass it as an argument, it will work with the example:
[code]

[2018-02-07 14:54] #169 closed

[2018-02-08 20:28] wolfman30 commented on #157
After running this line from akshaybapat04:
name = "p{index_substi + 2}".format(index_substri = index),
I get the following error:

InvalidArgumentError                      Traceback (most recent call last)
/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/common_shapes.py in _call_cpp_shape_fn_impl(op, input_tensors_needed, input_tensors_as_shapes_needed, require_shape_fn)
    6

[2018-02-08 20:32] GuilhermeFSCampos commented on #171
Got the same error trying the tutorial.

[2018-02-09 15:29] jhung0 commented on #171
Yes, thanks for changing that.

[2018-02-09 15:29] #171 closed

[2018-02-09 16:02] #166 closed

[2018-02-10 18:43] AshStuff opened #175 "Not able to download nuclei dataset"
When i try to load nuclei data it says this
[code]

[2018-02-11 18:23] helenadeus opened #176 "only integer scalar arrays can be converted to a scalar index"
Got this error message above upon following the instructions on the readme file:

(target_bounding_boxes, target_image, target_scores, _), _ = generator.next()

TypeError: only integer scalar arrays can be converted to a scalar index

[2018-02-13 11:43] NurmaU commented on #176
I also get the same error. Try to change **selection** variable to **selection[0]**. It works for me

[2018-02-13 14:17] edisel opened #177 "RCNN __init__() error"
Hi everyone,
I have an error when running the following code :
[code]

The error message is :
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: __init__() missing 1 required positional argument: 'regions_of_interest'

I tested on two different machines :
* Machine 1 : windows. Python v 3.5.1 ; Keras 2.1.3 ;  keras-rcnn : 0.0.2
* Machine 2 : CentOS 7. Python v 3.4

[2018-02-15 09:20] mmiisskk commented on #136
Hm, that's the problem, I think.
Because when I have new image for prediction there are no bounding_boxes, labels and metadata - there is just image and I'd like to get these information (b_boxes, labels) from prediction.
Can I achieve it?

[2018-02-15 11:00] mmiisskk opened #178 "Syntax ERROR after run test.py"
Hi,
I'm trying your keras_rcnn package (downloaded today) and when I run test file using code you have in README and after I add this import:
`import keras_rcnn.models`
I got an error:
`Using TensorFlow backend.
Traceback (most recent call last):
  File "pokus.py", line 5, in <module>
    import keras_rcnn.models
  File "/home/misa/keras_resnet/keras_rcnn/models/__init__.py", line 1, in <module>

[2018-02-16 16:59] #150 closed

[2018-02-16 17:02] jhung0 commented on #158
We're going to test for Python 3.5 now too

[2018-02-16 17:04] #153 closed

[2018-02-16 17:06] jhung0 commented on #177
Did you try downloading from source? What does line 1 refer to?

[2018-02-16 18:37] 0x00b1 opened #179 "Object detection"

[2018-02-17 08:15] edisel commented on #177
1) Yes, if I download the .zip from source and install it on CentOS 7, using the command : pip3 install keras-rcnn-master.zip , then I can't import keras-rcnn module in python. I have the following error :
[code]
I don't have that error if I install it using the command : pip3 install keras-rcnn

2) I guess line 1 refers to the first line of the module RCNN...

[2018-02-17 17:07] Fenil3510 opened #180 "Loading external Data to train the model"
There is no information regarding how to load external data apart from the available keras_rcnn.datasets.  Suppose I have input_images , target_images , and np.array of bounding boxes for each image.
How would I load it into the model?

[2018-02-19 19:41] maryamag85 commented on #177
same issue here in ubuntu 16.04 LST python3

[2018-02-20 09:41] edisel commented on #177
I found something similar : https://github.com/broadinstitute/keras-rcnn/issues/140
Apparently it needs at least python 3.6 to run.

[2018-02-28 09:40] jmd9019 commented on #177
@edisel was the issue solved because I am getting same error
I am running in jupyter and my python version is 3.6

[2018-02-28 10:36] edisel commented on #177
Yes, installing python3.6 solved the problem for me. I also installed keras-rcnn from git repository because the install using the wheel led to "init()" error.

[2018-02-28 10:37] #177 closed

[2018-03-01 03:52] jmd9019 commented on #177
Still facing the same issue, these are steps how I installed please correct me if have missed something or installed in wrong way
I am running in jupyter with python 3.6 anaconda environment in aws p2 instance.

First I updated keras and tensor, then downloaded zip file and installed using pip installer
But still facing the issue.

[2018-03-01 07:12] jmd9019 opened #182 "object of type 'int' has no len()"
Running on jupyter with python 3.6 anaconda environment

TypeError                                 Traceback (most recent call last)
<ipython-input-11-2d8b5fa9d22c> in <module>()
      3 from keras_rcnn.models import RCNN
      4 img_in = Input((None, None, 3))
----> 5 rcnn_model = RCNN(img_in, 2)
      6 optimizer = keras.optimizers.Adam(0.0001)
      7 rcnn_model.compile(optimizer)

~/anaconda3/

[2018-03-01 14:47] jhung0 commented on #182
Try to input a dictionary instead of an integer into RCNN, e.g.
`model = keras_rcnn.models.RCNN((224, 224, 3), ["circle", "rectangle", "triangle"])`

[2018-03-01 15:30] jhung0 commented on #180
Yes, sorry we are behind on that. Take a look below and let me know if that helps.

External Data
--------
The data is made up of a list of dictionaries corresponding to images.

* For each image, add a dictionary with keys 'image', 'objects'
    * 'image' is a dictionary, which contains keys 'checksum', 'pathname', and 'shape'
        * 'checksum' is the md5 checksum of the image
        * 'pathn

[2018-03-01 16:11] harrd-tessella opened #184 "cropped target_mask in DictionaryIterator"
Hi,

When you extract the portion of the target_mask here that's inside the bounding box: https://github.com/broadinstitute/keras-rcnn/blob/master/keras_rcnn/preprocessing/_object_detection.py#L232

You're getting the slice from minimum_r to one less than maximum_r (and same for the column):
 target_mask = target_mask[
                          minimum_r : maximum_r,
                          mini

[2018-03-01 17:49] edisel commented on #177
I'm using neither jupyter, nor anaconda, so I can't help you with this. I installed python36u and created virtualenv as described there :
  https://janikarhunen.fi/how-to-install-python-3-6-1-on-centos-7.html
Then I ran virtualenv, and installed tensorflow, keras, etc, with pip command.
Finally I installed keras-rcnn from git repository :
pip install git+git://github.com/broadinstitute/keras-rcnn.

[2018-03-01 23:33] jhung0 opened #186 "NaN loss when object has category not in dictionary"
If the dictionary of categories does not contain a category that an object has, the loss becomes NaN

[2018-03-03 17:05] 0x00b1 commented on #186
An exception should be thrown (or warning should be returned) if the generator encounters a category that isn’t a member of the categories dictionary. What do you think?

[2018-03-03 22:25] #184 closed

[2018-03-03 22:25] 0x00b1 commented on #184
@harrd-tessella fixed! https://github.com/broadinstitute/keras-rcnn/commit/ea9bb08269940b09668571bb9e17070037525812

[2018-03-04 06:09] mravendi commented on #180
I developed this code so you can load DSB 2018 data.
https://github.com/mravendi/keras-rcnn/blob/master/keras_rcnn/datasets/dsb2018.py

simply use
dicts=load_data(path2data,data_group)

where
path2data is the location of DSB 2018 data on your computer
data_group can be either "stage1_train" or "stage1_test"

it will return a list of dictionaries in the format that this repo likes.

[2018-03-04 16:17] jhung0 commented on #186
Ideally a warning and make it just skip that object

[2018-03-04 20:44] 0x00b1 commented on #186
@jhung0 I looked into this yesterday and couldn't reproduce. When I added a non-existent category the ObjectDetectionGenerator threw a missing key exception. Would you mind posting an example?

[2018-03-04 21:38] 0x00b1 commented on #182
Closing. @jmd9019 Let me know if @jhung0's comment did not resolve your issue.

[2018-03-04 21:38] #182 closed

[2018-03-04 21:39] 0x00b1 commented on #182
I also apologize for the API instability. @jhung0  and I are in the process of (semi-) stabilizing the object detection API. I'll also look at stabilizing the image segmentation API soon.

[2018-03-05 01:42] jhung0 commented on #186
[code]

[2018-03-05 06:53] jmd9019 commented on #182
@0x00b1 @jhung0 comment did not work still facing the same issue.

One more question is this issue is because of I am running on aws ec2 instance in jupyter??

[2018-03-05 13:24] jhung0 commented on #182
No, that's not an issue. Do you have everything updated? Have you tried what's in the readme?

[2018-03-05 16:42] jmd9019 commented on #182
Yes everything is updated but haven't tried as given in readme. And I tried in Kaggle there was no issue. But I am getting this error when running on aws so i asked the above question

[2018-03-06 00:32] brandenkmurray opened #187 "ObjectDetectionGenerator mask_size appears to be hardcoded"
It appears that the mask size in being hardcoded in https://github.com/broadinstitute/keras-rcnn/blob/d544263e7faef49ccd27d4240bf94c3086d57a18/keras_rcnn/preprocessing/_object_detection.py#L98

If I specify a `mask_size` other than `(28, 28)` I wind up getting errors during training because the `mask_shape` specified in `keras_rcnn.models.RCNN` doesn't match the output of the generator.

[2018-03-06 00:38] brandenkmurray opened #188 "Masks are not rescaled before cropping"
In

https://github.com/broadinstitute/keras-rcnn/blob/d544263e7faef49ccd27d4240bf94c3086d57a18/keras_rcnn/preprocessing/_object_detection.py#L187-L197

the bounding box values are rescaled so the location is correct in the rescaled image. If an image is enlarged this may put the pixel locations of the box outside of the range of the original image. When the masks are read in they are cropped using

[2018-03-06 02:16] jhung0 commented on #182
Is it really the same error? If you input a dictionary, I'm not sure why it would give you TypeError: object of type 'int' has no len()

[2018-03-06 04:44] jmd9019 commented on #182
No getting different error now

codes:

import keras
from keras.layers import Input
from keras_rcnn.models import RCNN

img_in = Input((None, None, 3))
rcnn_model = RCNN((225,225, 2),["circle", "rectangle", "triangle"])
optimizer = keras.optimizers.Adam(0.0001)
rcnn_model.compile(optimizer)
print('Input:', rcnn_model.get_input_shape_at(0))
print('Output:', rcnn_model.get_output_shape_at(0))

Error

[2018-03-06 18:28] 0x00b1 commented on #187
Hi, @brandenkmurray! Thanks for the issue.

We’re still working on the Mask RCNN implementation so everything is still shaky. We expect that to settle down soon. Meanwhile, I wrote a hypothetical example where I modified the `mask_shape` that starts training. Maybe it’s an issue with the generator? Do you have an example you can share? It’d help the debugging process.

[code]

[2018-03-06 18:32] 0x00b1 commented on #187
Oh, did I misread your issue? Are you saying that you specified the `mask_shape` in the ObjectDetectionGenerator but didn’t specify the `mask_shape` in the RCNN model? You need to specify both.

**If that’s not the problem**, what’s the returned shape from the target_masks returned by the generator? Is it wrong?

[2018-03-06 18:34] 0x00b1 commented on #188
Hi, @brandenkmurray. Thanks for the issue!

I think you’re right. We’ve been struggling with finding the best order for the generator process around yielding masks. If you’re not already working on a patch, I can do that this week.

[2018-03-06 18:39] 0x00b1 commented on #188
If you’re curious about our internal thinking, here’s one proposed ordering:

* If needed, rescale target image.
** If target image was rescaled, rescale target mask.
* If needed (or specified), crop target image.
** If target image was cropped, crop target mask.
* If specified, transform (e.g. swirl or zoom) target image.
** If target image was transformed, transform target mask.

There’s been co

[2018-03-06 18:59] 0x00b1 commented on #188
A possible solution:

We don’t provide a `crop_shape` parameter in `ObjectDetectionGenerator`.

If `target_shape` is greater than image_shape, recale the image such that the smallest side of the rescaled image is equal to the minimum of `target_shape` then crop the rescaled image to the `target_shape`.

If `target_shape` is less than `image.shape`, crop the image to the `target_shape`.

[2018-03-06 19:26] brandenkmurray commented on #187
I'm specifying the `mask_size` in both, but at the beginning of model training I get an error that says the shape is different than expected. Removing the aforementioned line from the code stops the error from happening.

`import keras_rcnn
import pickle
import keras

from keras_rcnn.preprocessing import ObjectDetectionGenerator

training_dictionary = pickle.load(open("./kaggle-dsbowl-2018-dataset

[2018-03-06 23:01] vz415 commented on #180
Thanks @mravendi ! Your code works with the dsb 2018 dataset on my local machine.

Just a warning for others working with this dataset, you'll most likely receive an error when running this because the generator queries the image file itself (e.g. asdlfkj129.png) and you'll need to modify the `_get_batches_of_transformed_samples` method within the `DictionaryIterator` class to ignore the alpha cha

[2018-03-07 00:24] brandenkmurray commented on #188
I have a patch in my fork that simply rescales the mask so it matches the shape of the target image after it is read in, I will submit a pull request. I'm also unsure what the proper ordering should be but maybe it would suffice to make it a parameter and allow the user to choose the ordering, leaving the current order as the default. It would be good to test different orders on various datasets a

[2018-03-07 16:54] #187 closed

[2018-03-07 16:55] 0x00b1 commented on #188
Sounds good. Thanks for the patch. I merged. I'll reopen when someone feels like revisiting this. 😎

[2018-03-07 16:55] #188 closed

[2018-03-07 21:04] Marioqwe opened #190 "Incorrect image_shape for grayscale color_mode."
In `_object_detection.py`, line 51, you have:

[code]

I believe you should be setting `self.image_shape = (1, *target_size)` if `self.data_format == "channels_first"`, and the opposite if the check fails.

[2018-03-15 15:13] zzdang opened #192 "the maskrcnn request"
I try to add rcnn mask in  RCNN model ,
I know the output_masks loss can be get by :
**keras_rcnn.layers.MaskRCNN()[target_proposals, output_deltas, target_masks, output_masks]**
but I don't know how to get output_mask from out_featrues in RCNN model?
Can you help me? thanks very much!

[2018-03-15 18:35] dberma15 opened #193 "Import failed"
Hi,

I'm having trouble implementing the model. The problem is I'm running it on a VM without an internet connection, so everything either has to be presaved to a file or loaded from code.
If I try to run the code specifying a backbone:

I have problems loading VGG16.

If I save run that code on my computer, save it to "untrained_RCNN_VGG16.h5", and try to load that with
[code]
I get the error
[co

[2018-03-16 18:25] jhung0 commented on #193
Did you try saving weights instead of model?

On Thu, Mar 15, 2018 at 2:35 PM, dberma15 <notifications@github.com> wrote:

[2018-03-16 18:40] dberma15 commented on #193
Shouldn't saving the model save the weights?
Also, I can't train the model on the computer that I saved it because it would take too long.

[2018-03-19 14:22] mrStasSmirnoff commented on #6
@jhung0  it looks exactly like Matlab implementation of VOCdevkit! Could you please give some comments to your code, especially to the first half?

[2018-03-23 18:26] dberma15 opened #195 "Loss is constantly NaN"
Hi,

I'm trying to train my dataset for the Data Science Bowl 2018 competition and I'm having trouble. The loss is always NaN no matter what I try. I know that my data set is structured properly, as it looks like this:
[code]
So the problem isn't the data. Once I load it and try to run it, the model compiles, but the loss is consistently NaN and I can't figure out why. Can someone help?

[code]

[2018-03-23 23:09] jhung0 opened #196 "Problems with using Keras' validation loss"
Using Keras' validation loss (i.e. setting validation_data parameter in model.fit_generator) could lead to an Unimplemented error, so don't use it

[2018-03-27 13:45] kirk86 opened #197 "masks for dsb18 are off"
Hi everyone thanks for the repo and the effort. After downloading and going over the data I've found that a lot of masks seem to be off in regards to the dsb18 dataset. Could someone please also double check? Thanks in advance.

[2018-03-27 14:15] jhung0 opened #198 "Generator limits image pixel range 0 to 1"
The image pixels are limited to range 0 to 1, which is an issue if you want to center around 0
https://github.com/broadinstitute/keras-rcnn/blob/4024b14711338423fba30acd7c741ae63e812aac/keras_rcnn/preprocessing/_object_detection.py#L342

[2018-04-10 14:48] sbordt opened #200 "Anchor / RPN"
Hi guys,

I tried to train a RPN using this great package but failed due to inf/nan loss, and now suspect there might be an issue with the Anchor. As far as I can tell, it does not generate enough positive examples during training, where every Anchor that has a IoU with a ground-truth bounding box  of over 0.7 should be labelled as a positive example (as far as I understand Faster R-CNN).

I am no

[2018-04-11 17:13] sbordt commented on #200
Thanks for the quick reply!

I understand that it happens somewhere within these lines, but I must admit that I don't fully understand the code.

However I have created a small example that should work with the current master to illustrate the issue

https://gist.github.com/sbordt/58cc34c29fce54ffb8f114f605ea9f37

Shouldn't there be more positive examples (in blue) versus ground-truth bounding box

[2018-04-12 21:31] jhung0 opened #201 "Remove boxes at the edge"
We should remove small objects at the edge (could be by side length, % of image side, or remove any object at the edge)
https://github.com/broadinstitute/keras-rcnn/blob/ad6f05fa2a4510a310f37b8a73548614dc2f8df8/keras_rcnn/preprocessing/_object_detection.py#L109

[2018-05-17 12:30] Ostnie commented on #200
@sbordt Hi，I'm very sorry to bother you, but I really can't see how this library is used. I've been learning RCNN recently and hope to learn from a source code, but I can't see the structure of the library at all, even the questions you ask is strange for me. For example, where is the content of the RPN your  are training ? I didn't find it in the repository.

[2018-06-10 19:29] stylishsam opened #204 "Model is not saved using model.save("model.h5")"

[2018-06-21 17:24] Gindo70 opened #205 "KeyError when trying out the Example"
Hi,

when i try to run following Code from the Example i get a KeyError.

`training_dictionary, test_dictionary = keras_rcnn.datasets.shape.load_data()`

[code]

Any help is appreciated.

[2018-06-22 06:19] jhung0 commented on #205
Hmm. What version of keras?

On Thu, Jun 21, 2018, 10:24 AM Gindo70 <notifications@github.com> wrote:

[2018-06-23 02:13] aseylys opened #206 "AttributeError: module 'keras.engine' has no attribute 'topology'"
The `ObjectProposal` class in `.layers.objection_detection` is the one causing this error.
This seems to be because of the upgrade of Keras from 2.1.6 to 2.2.

A lot of the online chatter says to just change all instances of `topology` to `saving`, that doesn't seem to work in your code.

Is there a solution that doesn't involve downgrading Keras?

**Temporary Fix:**
Replace `keras.engine.topology

[2018-06-25 15:06] 0x00b1 opened #207 "Path Aggregation Network for Instance Segmentation"
https://arxiv.org/abs/1803.01534

[2018-06-25 15:07] 0x00b1 commented on #206
Hi, @aseylys! I appreciate the debugging. I think your recommended fix is indeed the best fix!

I'll work on a patch now.

[2018-06-25 15:12] 0x00b1 commented on #206
https://github.com/broadinstitute/keras-rcnn/pull/208

[2018-06-25 15:14] 0x00b1 commented on #204
Hi, @stylishsam! I don’t know if `model.save` works with custom layers. I’ll look into this.

Have you tried using `to_json` and `save_weights`?

[2018-06-25 15:17] 0x00b1 commented on #206
Merged. :)

[2018-06-25 15:17] #206 closed

[2018-07-11 11:05] pinakinathc opened #211 "Error while calculating val_loss using validation_data"
I have created new JSON file according to my requirement :
* `training.json`
* `test.json`

the model trains using `training.json` but gives error while calculating val_loss using `test.json`
I have interchanged `training.json` with `test.json` (Reason: I though that I might have made some error while creating `test.json`)

But when `test.json` is used as *training set* and `training.json` is used

[2018-07-11 11:51] pinakinathc commented on #211
@0x00b1

[2018-07-11 11:52] pinakinathc commented on #211
@0x00b1 can you please look into this for a second?

[2018-08-28 09:55] lanhongvp commented on #6
I try to give some specific explanations about @b18arundhati code to help others understand this example.
The `tf.metrics.sparse_average_precision_at_k` will be replaced by `tf.metrics.average_precision_at_k`. And by browsing the code in [tensorflow](https://github.com/tensorflow/tensorflow/blob/r1.10/tensorflow/python/ops/metrics_impl.py), you will find that when your input is `y_true` and `y_pre

[2018-09-18 02:43] Genie-Liu opened #212 "Misspelling in README.rst"
`keras_rcnn.util.show_bounding_boxes(target_image, target_bounding_boxes, target_categories)`

the util should be **utils**, and target_image should be **target_images**

[2018-09-18 06:41] Genie-Liu opened #213 "Lack of"

[2018-10-10 19:34] LorenzG opened #215 "Error reading B&W object"
Hello

I'm getting the following error when trying to read a B&W image:

[code]

This is my code:

[code]

and I'm using this image:
[https://drive.google.com/open?id=1IufZFg8HmwwfIuzy4v5xkGKG3QTlv-WI](https://drive.google.com/open?id=1IufZFg8HmwwfIuzy4v5xkGKG3QTlv-WI)

[2018-10-11 06:35] jrtk opened #216 "Unable to load the datasets in keras_rcnn"
After successful installation, while loading the datasets
training_dictionary, test_dictionary = keras_rcnn.datasets.shape.load_data()

i have encountered below error:
KeyError: 'keras_rcnn/data/schema.json'

Anything missed while installation?

[2018-11-07 21:45] subhashreeradhakrishnan commented on #42
What is the best way to extend this script to a batch inference / training?

[2018-11-11 17:19] worldmovers opened #218 "Generating json of images with no object of concern."

[2018-12-10 06:39] shobhitpuri commented on #204
I agree. `model.save` doesn't seem to work. Neither does `to_json`. It was giving some error like `TypeError: can't pickle _thread.lock objects`.

[2018-12-11 01:10] satchmo233 commented on #125
I get a same question with u! And i just want to know how did solve this bug...Asking for help~~

[2018-12-11 07:08] shobhitpuri opened #219 "How to calculate the accuracy of the model that is generated?"
I used RCNN to generate a model for DOTA dataset. I passed in the validation generator as well when fitting. At the end of the training it gives loss. How to get the accuracy of the model that has been created?

[2018-12-11 14:50] hiteshnitetc commented on #125
@satchmo233 still unable to solve problem

[2018-12-14 01:44] satchmo233 commented on #125
@hiteshnitetc I have solve my problem.It because keras package the network. So i cant change the network directly. I just suggest u check about the code when data is entered. Hope it can do help you.

[2019-02-14 09:38] freygit commented on #6
your explanation should be :
For example, when `k=1`, only the first batch match the label, so the `average precision at 1` result will be `1/5 = 0.2`.  **NOT: `1/6 = 0.16666666`**
When `k=2`, the third batch will also match the label, so the `average precision at 2` result will be `(1+(1/2))/5=0.3`. **NOT: `(1+(1/2))/6=0.25`**

[2019-03-26 15:08] willowxh opened #222 "No module named 'keras_resnet'"
I got this erro,and I didn't see this module
ModuleNotFoundError: No module named 'keras_resnet'

[2019-03-27 13:58] willowxh opened #223 "AttributeError: module 'keras_resnet.models' has no attribute 'FPN2D50'"
I got this error:any advice will be appreciate
AttributeError: module 'keras_resnet.models' has no attribute 'FPN2D50'

[2019-04-02 12:54] Cooper111 commented on #216
I guess you should `import keras_rcnn.datasets.shape`

[2019-04-12 14:07] mazzus commented on #223
Hi!

I ran into the same issue. This package depends on another package: https://github.com/broadinstitute/keras-resnet

Installing keras-resnet shwould resolve your issue :)

[2019-05-15 14:53] LSBigum commented on #136
Did you find a solution to this?

[2019-05-15 15:00] mmiisskk commented on #136
No, I studied keras-retinanet instead.

[2019-06-18 13:09] kapitsa2811 commented on #222
Please install keras_resnet by pip3 install keras_resnet

[2019-08-11 22:25] CameronVetter commented on #204
I just ran into this too.  Seems strange that a bug this severe remains this long.  Is this project abandoned?

Does anyone have a workaround?

[2020-02-12 00:31] celsomilne opened #224 "Tensorflow 2.x upgrade"
Do admins have any pipeline for a tensorflow 2.x upgrade?

[2020-06-24 23:44] kimjooeun opened #225 "AttributeError: 'Node' object has no attribute 'output_masks'"
![image](https://user-images.githubusercontent.com/32117207/85638056-dfebc200-b6bf-11ea-8f7e-2dddc1e81dab.png)

I shouldn't fix it from _feature_pyramid_2d.py to tensorflow.keras.layers.Conv2D.

[2020-09-04 04:56] CrystalBio commented on #225
Hey guys, is this solved?

[2020-10-05 20:25] michalstepniewski commented on #225
I am joining the question. This is from the code in the README ... Is there a workaround?

[2021-04-12 06:43] univerijung commented on #225
What is the problem? Anyone help us~

[2021-05-31 14:09] luciantunez opened #226 "share pretrained weights"
Hello and thank you for sharing your work!
Could you please provide the last checkpoint for the pretrained model?
Thank you in advance, Lucia

[2021-06-11 15:02] stephenxieber commented on #225
I've met the same issue. Still can not solve it

[2021-08-18 03:25] gal-lum commented on #225
Same issue here. It looks like other mentions of this error around the web include some mixup between tensorflow.keras and 'pure' keras, but I can't find anything like that in my code or any of the modules that it imports.

[2021-08-31 08:26] frcaud commented on #225
Same issue for me using code in Readme. I tried to change packages versions and see where I can use only pure keras or only tf but didn't find solution yet.